<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.messenger">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".models.UserStatus"/>
        <activity android:name=".all_settings.UserProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".message.LatestMessagesActivity" />
        </activity>
        <activity android:name=".splashscreen.SplashScreen_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".splashscreen.IntroActivity" />
        <activity android:name=".message.LatestMessagesActivity" />
        <activity android:name=".register_login.MainActivity" />
        <activity android:name=".register_login.login" />
        <activity android:name=".message.NewMessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".message.LatestMessagesActivity" />
        </activity>
        <activity android:name=".message.ChatLogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".message.LatestMessagesActivity" />
        </activity>
        <activity android:name=".all_settings.ForgotPasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".register_login.login" />
        </activity>
        <activity android:name=".all_settings.ChangePasswordActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".all_settings.UserProfileActivity" />
        </activity>
        <activity android:name=".all_settings.StatusEditActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".all_settings.UserProfileActivity" />
        </activity>
        <activity android:name=".all_settings.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".message.LatestMessagesActivity" />
        </activity>
    </application>

</manifest>